.pic-upload{
  position: relative;

  display: inline-block;
  width: 32px;
  height: 23px;

  .pic{
    position: absolute;
    left: 0;

    white-space: nowrap;

  }

  .upload{
    position: absolute;
    left: 0;

    width: 50px;

    opacity: 0;
  }
}

.chat-pic{
  max-width: 400px;
  max-height: 300px;
}

.chat-box{
  width: 585px;
  height: 280px;
  border: 1px solid;

  overflow-y: auto;
}

.functional-bar{
  width: 585px;
  height: 20px;
  padding: 2px;
  border: 1px solid #00B7FF;

  li{
    float: left;
  }
}

.clearfix{

}